<div class="header">
  <div class="header-left">
    <app-back-button [route]="backTargetUrl()"></app-back-button>

    <h1 class="page-title">{{ title() | translate }}</h1>
  </div>
  <div class="header-right">
    <div class="header-actions" *ngIf="showActions()">
      <app-toolbar
        [showAdd]="showAdd()"
        [showEdit]="showEdit()"
        [showHelp]="showHelp()"
        [showDelete]="showDelete()"
        [showCopy]="showCopy()"
        [isSaving]="isSaving()"
        [helpSteps]="helpSteps()"
        [helpTitle]="helpTitle()"
        [helpRecordName]="helpRecordName()"
        (add)="onAdd()"
        (edit)="onEdit()"
        (help)="onHelp()"
        (delete)="onDelete()"
        (copy)="onCopy()"
      >
      </app-toolbar>
    </div>
  </div>
</div>
