<div class="heat-list" *ngIf="heats().length > 0">
  <div class="heat-list-header" *ngIf="showHeader()">
    {{ "RM_HEADER_HEAT_LIST" | translate }}
  </div>
  <div class="heats-container">
    <div
      class="heat-item"
      *ngFor="let heat of heats(); trackBy: trackByHeatNumber"
    >
      <div class="heat-number">
        {{ "RM_LABEL_HEAT_NUMBER" | translate: { number: heat.heatNumber } }}
      </div>
      <div
        class="heat-lanes"
        [style.grid-template-columns]="'repeat(' + columns() + ', 1fr)'"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="onDrop($event, heat)"
      >
        <div
          class="lane-item"
          *ngFor="let lane of heat.lanes; trackBy: trackByLaneNumber"
          [style.background-color]="lane.backgroundColor"
          [style.color]="lane.foregroundColor"
          [class.draggable]="canDragLanes() && isLaneOccupied(lane)"
          [class.clickable]="canDragLanes() && !isLaneOccupied(lane)"
          cdkDrag
          [cdkDragDisabled]="!isLaneOccupied(lane) || !canDragLanes()"
          (click)="onLaneClick(lane.laneNumber - 1)"
        >
          <div class="lane-content">
            <span class="lane-label"
              >{{ "RM_LABEL_LANE" | translate }} {{ lane.laneNumber }}:</span
            >
            <span class="driver-number">
              {{
                !lane.driverNumber
                  ? ("RD_EMPTY_LANE" | translate)
                  : ("RM_LABEL_DRIVER" | translate) + " " + lane.driverNumber
              }}
            </span>
          </div>
          <div
            class="drag-handle"
            *ngIf="canDragLanes() && isLaneOccupied(lane)"
            cdkDragHandle
          >
            <span class="material-icons">drag_indicator</span>
          </div>
          <div *cdkDragPlaceholder></div>
        </div>
      </div>
    </div>
  </div>
</div>
